.custom-slider {
  width: 20%;
}

.main-graph {
width: 100%;
height: 100%;
}

.main-container {
display: flex;
flex-grow: 1;
margin-left: 20%; /* pour compenser la largeur de la sidebar */
padding: 20px;
}

.graph-container {
flex-grow: 1;
width: 100%;
height: 100%;
border: none;
}

.sidebar {
  width: 20%;
  float: left;
  }
  